# Created by venv; see https://docs.python.org/3/library/venv.html
# Virtual environment
venv/
env/
bin/
lib/
pyvenv.cfg

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Optional: large data files
*.csv
*.xlsx

# IDE files
.vscode/


